body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(95, 95, 95, 0.5);
}
.lab-header {
    position:absolute;
    margin-top:1050px;
}

.header {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-size: 18px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 280px;
  height: 120px;
  font-size: 50px;
  transition: 0.5s;
}

.header:hover {
  box-shadow: rgba(208, 3, 3, 0.2) 0 2px 8px;
  opacity: 0.85;
  font-size: 45px;
  color: red;
  font-weight: bold;
  transition: 0.5s;
}

.header:active {
  outline: 0;
}

.header:focus {
  box-shadow: rgba(47, 97, 235, 0.5) 0 0 0 3px;
  font-size: 45px;
  color: rgba(47, 97, 235, 0.75);
  font-weight: bold;
}

.slider {
    width: 900px;
    height: 550px;
    border-radius: 12px;
    margin-top: 100px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 550px;
    display: flex;
}

img {
    width: 900px;
    height: 550px;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 900px;
    height: 550px;
}

/* css for manual navigation */

.nav-manual {
    position: absolute;
    width: 900px;
    margin-top: 510px;
    display: flex;
    justify-content: center;
}

.manual-button {
    border: 4px solid white;
    padding: 8px;
    border-radius: 14px;
    cursor: pointer;
    transition: 1s;
}

.manual-button:not(:last-child) {
    margin-right: 33px;
}

.manual-button:hover {
    background-color: white;
}

#radio1:checked~.firstslide {
    margin-left: 0;
    transition: 2s;
}

#radio2:checked~.firstslide {
    margin-left: -20%;
    transition: 2s;
}

#radio3:checked~.firstslide {
    margin-left: -40%;
    transition: 2s;
}

#radio4:checked~.firstslide {
    margin-left: -60%;
    transition: 2s;
}

#radio5:checked~.firstslide {
    margin-left: -80%;
    transition: 2s;
}

#radio6:checked~.firstslide {
    margin-left: -100%;
    transition: 2s;
}

/* css for automatic navigation */

.nav-auto{
    position:absolute;
    display: flex;
    width: 900px;
    justify-content: center;
    margin-top: 510px;
}

.nav-auto div{
    border: 4px solid white;
    padding: 8px;
    border-radius: 14px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 33px;
}

#radio1:checked ~ .nav-auto .auto-button1{
    background:white;
}

#radio2:checked ~ .nav-auto .auto-button2{
    background:white;
}

#radio3:checked ~ .nav-auto .auto-button3{
    background:white;
}

#radio4:checked ~ .nav-auto .auto-button4{
    background:white;
}

#radio5:checked ~ .nav-auto .auto-button5{
    background:white;
}

#radio6:checked ~ .nav-auto .auto-button6{
    background:white;
}

.nav-buttons {
    position: absolute;
    margin-top:750px
}

#prevBtn,
#nextBtn,
#pauseBtn {
  background-color: black;
  border: none;
  color: white;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 7px 5px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.5s;
}

#prevBtn:hover,
#nextBtn:hover,
#pauseBtn:hover {
  background-color: white;
  color:black;
  transition: 0.5s;
  font-size:19px;
}